.List{
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
    width: 100%;
    height: auto;
}
.list-1{
    width: 100%;
    height: 20vh;
    display: grid;
    place-content: center;
}
.list-1 h1{
    font-size: 4em;
    font-weight: 400;
}
.list-2{
    width: 90%;
    height: auto;
    padding: 50px 0px;
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
    text-align: center;
    margin: 0px 5%;
}
.list-2 ul{
    font-size: 2em;
    margin: 20px 0px 0px 0px;
}
.list-2 img{
    width: 50%;
}
.list-2-1{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 100%;
    justify-content: space-evenly;
    padding: 50px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}